<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
  <% include partials/_header %>
</header>

    <!-- Add your EJS code here -->

    <% for (var shortURL in urls) { %>
   <p> <%= shortURL %> </p>
   <a href="<%=urls[shortURL]["longURL"]%>"><%=urls[shortURL]["longURL"]%></a>

  <form method="POST" action="/urls/<%= shortURL %>/delete">
   <button>Delete</button>
  </form>

  <a href="/urls/<%=shortURL%>">Edit</a>
 <% } %>

 <br>
 <br>

<a href="/urls/new">Add new longURL</a>

</body>
</html>