<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
  <% include partials/_header %>
</header>

    <!-- Add your EJS code here -->

    <% for (var shortURL in urls) { %>
   <p> <%= shortURL %> </p>
   <a href="<%=urls[shortURL]%>"><%=urls[shortURL]%></a>

  <form method="POST" action="/urls/<%= shortURL %>/delete">
   <button>Delete</button>
  </form>

  <a href="/urls/<%=shortURL%>">Edit</a>
 <% } %>



</body>
</html>