
<!-- views/partials/urls_index.ejs -->


<html>
<head>
<title> TinyApp </title>
</head>

<header>
   <% include partials/_header %>
 </header>

<body>
<ul>

<h1>


<% for (var shortURL in urls){ %>
<form method="POST" action="/urls/<%=shortURL%>/delete">

<li>
<%= shortURL %>
-->
<a href = "<%=urls[shortURL]%>"> <%=urls[shortURL] %> </a>
</li>
<button> DELETE </button>
</form>



<form method="POST" action="/urls/<%= shortURL %>">
<button> Edit </button>
<input type="text" name="newLongURL">
</form>

<% } %>

</h1>





<a href = '#'> URL Shortener </a>
</ul>
</body>
</html>

