<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
  <% include partials/_header %>
</header>
<h3>Your full list of URLs</h3>
    <% for (var shortURL in urls) { %>
    <br>
   <span><b>URL:</b> <%= shortURL %>:::
   <a href="<%=urls[shortURL]["longURL"]%>"><%=urls[shortURL]["longURL"]%></a>:::  <a href="/urls/<%=shortURL%>">Edit</a>
   <form method="POST" action="/urls/<%= shortURL %>/delete">
   <button>Delete</button>
  </form>
  </span>
  <br>
 <% } %>

 <br>
 <br>

<a href="/urls/new">Add new URL to this list</a>

</body>
</html>