
<!-- views/partials/urls_index.ejs -->


<html>
<head>
<title> TinyApp </title>
</head>

<header>
   <% include partials/_header %>
 </header>

<body>
<ul>



<% for (var shortURL in urls){ %>
<form method="POST" action="/urls/<%=shortURL%>/delete">

<li>
<%= shortURL %>
:
<a href = "<%=urls[shortURL]["longURL"]%>"> <%=urls[shortURL]["longURL"] %> </a>
</li>
<button> DELETE THIS </button>
</form>



<form method="POST" action="/urls/<%= shortURL %>">


<button> Confirm Edit </button>

<input type="text" size="100" name="newLongURL" placeholder= "If you wish to change your http://yourURL.com to something else, type here and click Confirm Edit button">

</form>

<% } %>





<a href = '/urls/new'> Click here to add a new URL</a>
<br>
<a href = '/urls'> Click here for URL Shortener Main Page (and your list of URLs!)</a>
</ul>
</body>
</html>

